.step_two_form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  width: 100vw;
  height: 100vh;
  font-family: var(--primary-font);
  background-color: var(--register-background-color);
}

.step_two_form > h1 {
  text-align: center;
}

.step_two_form > p {
  text-align: left;
}

.step_two_form > div > label,
.step_two_form > h1 {
  color: aliceblue;
}
