body {
  background-color: var(--register-background-color);
}

.final_step_container > h3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-white);
  font-family: var(--primary-font);
  font-size: 2rem;
  margin-top: 40px;
}

.subtitle {
  display: flex;
  justify-content: space-between;
  margin: 350px 0;
  padding: 0 0.4rem;
}

.subtitle > .square {
  background-color: var(--primary-color);
  width: 9px;
  height: 16px;
}

.subtitle > p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  font-size: 0.8rem;
}

.subtitle > p span {
  color: var(--primary-color);
}
