.header {
  display: flex;
  flex-direction: column;
  font-family: var(--primary-font);
}

.header > .logo_container {
  padding: 1rem;
  justify-content: flex-start;
}

.header > .logo_container > h1 {
  font-size: 1.5rem;
}

.header > .user-info-container {
  color: var(--color-white);
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  margin: 0 0 1.25rem 1.25rem;
}

.header > .user-info-container > .user-avatar {
  width: 12vw;
  height: 5.5vh;
  border-radius: 30rem;
  background-color: var(--primary-color);
  color: var(--color-white);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  margin-right: 0.6rem;
}

@media screen and (min-width: 600px) {
  .header > h4 > .square {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1rem 0rem;
  }

  .header > .user-info-container > .user-avatar {
    width: 3.5vw;
    height: 7vh;
  }
}
