.enterprise_form_container {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--register-background-color);
}

.enterprise_form_container > .step_two_enterprise_form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.enterprise_form_container p,
.enterprise_form_container label {
  font-size: 0.9rem;
}

.enterprise_form_container
  > .step_two_enterprise_form
  > .levels_experience_part_container,
.enterprise_form_container
  > .step_two_enterprise_form
  > .salary_languages_missions_desktop
  > .annual_salary {
  margin: 1rem 0;
}

.enterprise_form_container
  > .step_two_enterprise_form
  > .computer_language_checkbox_container
  > p,
.enterprise_form_container
  > .step_two_enterprise_form
  > .research_and_workplace_container
  > div,
.enterprise_form_container
  > .step_two_enterprise_form
  > .salary_languages_missions_desktop
  > .annual_salary
  > p,
.enterprise_form_container
  > .step_two_enterprise_form
  > .salary_languages_missions_desktop
  > .annual_salary
  > div {
  margin: 0.5rem 0;
}

.enterprise_form_container > .step_two_enterprise_form span {
  color: var(--primary-color);
}

.enterprise_form_container > .step_two_enterprise_form,
.enterprise_form_container > .step_two_enterprise_form select,
.enterprise_form_container > .step_two_enterprise_form > button {
  font-family: var(--primary-font);
}

.enterprise_form_container > .step_two_enterprise_form > .subtitle {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.enterprise_form_container
  > .step_two_enterprise_form
  > .subtitle
  .squareSubtitle {
  display: inline-block;
  margin-right: 0.5rem;
  width: 12px;
  height: 12px;
  background-color: var(--primary-color);
}

.enterprise_form_container > .step_two_enterprise_form > h1,
.enterprise_form_container > .step_two_enterprise_form > .subtitle p,
.enterprise_form_container > .step_two_enterprise_form > label,
.enterprise_form_container
  > .step_two_enterprise_form
  > .levels_experience_part_container
  > p,
.enterprise_form_container
  > .step_two_enterprise_form
  > .research_and_workplace_container
  > p,
.enterprise_form_container
  > .step_two_enterprise_form
  > .salary_languages_missions_desktop
  > .annual_salary
  > p,
.enterprise_form_container
  > .step_two_enterprise_form
  > .salary_languages_missions_desktop
  > .annual_salary
  > div
  > label,
.enterprise_form_container
  > .step_two_enterprise_form
  > .research_and_workplace_container
  > div
  > .enterprise_expectation_container
  > label,
.enterprise_form_container
  > .step_two_enterprise_form
  > .research_and_workplace_container
  > div
  > .enterprise_workplace_container
  > label,
.enterprise_form_container
  > .step_two_enterprise_form
  > .research_and_workplace_container
  > .computer_language_checkbox_container
  > div
  label,
.enterprise_form_containerenterprise_form_container
  > .step_two_enterprise_form
  > .research_and_workplace_container
  .enterprise_expectation_container,
.enterprise_form_container
  > .step_two_enterprise_form
  > .research_and_workplace_container
  .enterprise_workplace_container,
.enterprise_form_container
  > .step_two_enterprise_form
  .research_and_workplace_container
  > .step_two_enterprise_form
  > .research_and_workplace_container
  > div
  > p,
.enterprise_form_container
  > .step_two_enterprise_form
  > .research_and_workplace_container
  > div
  > p,
.enterprise_form_container
  > .step_two_enterprise_form
  > .computer_language_checkbox_container
  > p,
.enterprise_form_container
  > .step_two_enterprise_form
  > .computer_language_checkbox_container
  > .programming_languages
  > div
  > label {
  color: var(--secondary-color);
}

.enterprise_form_container
  > .step_two_enterprise_form
  > .computer_language_checkbox_container
  > p
  > .select_languages_span {
  color: var(--third-color);
}

.enterprise_form_container > .step_two_enterprise_form > h1,
.enterprise_form_container > .step_two_enterprise_form > .subtitle {
  margin-bottom: 3rem;
}

.enterprise_form_container > .step_two_enterprise_form > h1 {
  margin-top: 2rem;
  text-align: center;
}

.enterprise_form_container > .step_two_enterprise_form > label {
  margin-bottom: 0.5rem;
}

.enterprise_form_container > .step_two_enterprise_form select#industries_select,
.enterprise_form_container
  > .step_two_enterprise_form
  select#enterprise_type_select {
  margin-bottom: 2rem;
}

.enterprise_form_container > .step_two_enterprise_form select,
.enterprise_form_container > .step_two_enterprise_form textarea {
  border-color: var(--third-color);
  color: var(--secondary-color);
  background: var(--register-background-color);
}

.enterprise_form_container > .step_two_enterprise_form textarea::placeholder {
  color: var(--third-color);
}

.enterprise_form_container > .step_two_enterprise_form select:focus,
.enterprise_form_container > .step_two_enterprise_form textarea:focus {
  outline: 0;
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.enterprise_form_container > .step_two_enterprise_form select {
  padding: 0.5rem;
  border-radius: 0.3rem;
}

.enterprise_form_container > .step_two_enterprise_form select > option {
  height: 30vh;
  padding: 0.5rem;
}

.enterprise_form_container > .step_two_enterprise_form textarea {
  padding: 0.5rem;
  border-radius: 0.5rem;
  resize: none;
}

.enterprise_form_container
  > .step_two_enterprise_form
  > .levels_experience_part_container
  > .levels_and_experience_button_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 1rem;
}

.enterprise_form_container
  > .step_two_enterprise_form
  > .levels_experience_part_container
  > .levels_and_experience_button_container
  > button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 7.5rem;
  height: 2rem;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  border: 0.15rem solid var(--third-color);
  border-radius: 2rem;
  color: var(--third-color);
  background-color: rgba(0, 0, 0, 0);
  transition:
    border 0.2s,
    color 0.2s;

  font-family: var(--primary-font);
  font-size: 0.75rem;
  font-weight: bold;
}

.enterprise_form_container
  > .step_two_enterprise_form
  > .levels_experience_part_container
  > .levels_and_experience_button_container
  > button.focusedButton {
  border: 0.15rem solid var(--primary-color);
  color: var(--secondary-color);
}

/* .enterprise_form_container
  > .step_two_enterprise_form
  > .research_and_workplace_container
  > div
  > label,
.enterprise_form_container
  > .step_two_enterprise_form
  > .computer_language_checkbox_container
  > div
  input {
  margin-right: 0.35rem;
  margin-bottom: 0.35rem;
} */

.enterprise_form_container
  > .step_two_enterprise_form
  > .research_and_workplace_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.enterprise_form_container
  > .step_two_enterprise_form
  > .research_and_workplace_container
  > div
  > p {
  margin-bottom: 0.5rem;
}

.enterprise_form_container
  > .step_two_enterprise_form
  > .computer_language_checkbox_container
  > .programming_languages {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-around;
  margin-top: 1rem;
  height: 28vh;
}

/* .enterprise_form_container
  > .step_two_enterprise_form
  > .computer_language_checkbox_container
  > .programming_languages
  > div
  > label,
.enterprise_form_container > .step_two_enterprise_form input#checkbox {
  margin-right: 0.35rem;
  margin-bottom: 0.35rem;
} */

.enterprise_form_container > .step_two_enterprise_form input#checkbox {
  display: inline-block;
  width: 1.15em;
  height: 1.15em;
  appearance: none;
  border-radius: 0.1rem;
  border: 0;
  background: var(--third-color);
}

.enterprise_form_container > .step_two_enterprise_form input#checkbox:checked {
  background-color: var(--primary-color);
  border: 0;
}

.enterprise_form_container
  > .step_two_enterprise_form
  input#checkbox:checked:after {
  position: relative;
  padding: 0.1rem;
  content: "\2714";
  color: var(--secondary-color);
}

/* .enterprise_expectation_container > p {
  display: flex;
  align-items: center;
} */

/* .enterprise_form_container p > .step_two_enterprise_form,
.step_two_enterprise_form > .research_and_workplace_container > div > p {
  text-align: left;
} */

/* .enterprise_form_container
  > .step_two_enterprise_form
  > p
  > .select_languages_span {
  color: var(--third-color);
} */

/* .enterprise_form_container
  > .step_two_enterprise_form
  > .research_and_workplace_container
  > .computer_language_checkbox_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-around;
  height: 32vh;
} */

.enterprise_form_container
  > .step_two_enterprise_form
  > .research_and_workplace_container
  .enterprise_expectation_container,
.enterprise_form_container
  > .step_two_enterprise_form
  > .research_and_workplace_container
  .enterprise_workplace_container,
.enterprise_form_container
  > .step_two_enterprise_form
  > .computer_language_checkbox_container
  > .programming_languages
  > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.enterprise_form_container
  > .step_two_enterprise_form
  > .salary_languages_missions_desktop {
  display: flex;
  flex-direction: column;
  width: 95vw;
}

.enterprise_form_container
  > .step_two_enterprise_form
  > .salary_languages_missions_desktop
  > .annual_salary
  > div
  > label {
  margin-right: 1rem;
}

.enterprise_form_container
  > .step_two_enterprise_form
  > .salary_languages_missions_desktop
  > .annual_salary
  > div
  > input {
  padding: 0.2rem;
  border-radius: 0.5rem;
  width: 15rem;
  text-align: center;
  border-color: var(--secondary-color);
  color: var(--secondary-color);
  background: var(--register-background-color);
}

.enterprise_form_container
  > .step_two_enterprise_form
  > .salary_languages_missions_desktop
  > .annual_salary
  > div
  > input:focus {
  outline: 0;
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}

/* .step_two_form_enterprise
  > .computer_language_checkbox_container
  > .programming_languages
  > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
} */

.enterprise_form_container
  > .step_two_enterprise_form
  > .salary_languages_missions_desktop
  > p {
  margin: 2rem;
  font-size: 0.75rem;
  text-align: center;
  color: var(--secondary-color);
}

.enterprise_form_container > .step_two_enterprise_form > p {
  display: flex;
  align-self: center;
  font-weight: 600;
  color: var(--secondary-color);
}

.enterprise_form_container > .step_two_enterprise_form > button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 15rem;
  margin: 1rem 0;
  padding: 0.5rem;
  border: 0;
  border-radius: 2rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: var(--secondary-color);
}

.enterprise_form_container > .step_two_enterprise_form > button.invisible {
  display: none;
}

@media screen and (min-width: 600px) {
  .enterprise_form_container > .step_two_enterprise_form {
    display: flex;
    align-items: flex-start;
    padding: 0 9rem;
    font-size: 1rem;
  }

  .enterprise_form_container > .step_two_enterprise_form > h1 {
    align-self: center;
    font-size: 2.5rem;
  }

  .enterprise_form_container > .step_two_enterprise_form > h1,
  .enterprise_form_container > .step_two_enterprise_form > .subtitle {
    margin-bottom: 5rem;
  }

  .enterprise_form_container > .step_two_enterprise_form > .subtitle,
  .enterprise_form_container > .step_two_enterprise_form > label {
    width: 30vw;
    text-align: left;
  }

  .enterprise_form_container > .step_two_enterprise_form select,
  .enterprise_form_container > .step_two_enterprise_form textarea {
    width: 30vw;
  }

  .enterprise_form_container
    > .step_two_enterprise_form
    select#industries_select,
  .enterprise_form_container
    > .step_two_enterprise_form
    select#enterprise_type_select,
  .enterprise_form_container
    > .step_two_enterprise_form
    textarea#description_area,
  .enterprise_form_container
    > .step_two_enterprise_form
    > .levels_experience_part_container
    > .levels_and_experience_button_container,
  .enterprise_form_container
    > .step_two_enterprise_form
    > .research_and_workplace_container,
  .enterprise_form_container
    > .step_two_enterprise_form
    > .computer_language_checkbox_container
    > .programming_languages {
    margin-bottom: 2rem;
  }

  /* .enterprise_form_container
    > .step_two_enterprise_form
    > .research_and_workplace_container {
    align-items: flex-start;
  } */

  .enterprise_form_container
    > .step_two_enterprise_form
    > .research_and_workplace_container
    > div {
    margin-right: 5rem;
  }

  .enterprise_form_container
    > .step_two_enterprise_form
    > .computer_language_checkbox_container
    > .programming_languages {
    width: 70rem;
    height: 10vh;
    flex-direction: row;
    gap: 2rem;
  }

  .enterprise_form_container
    > .step_two_enterprise_form
    > .salary_languages_missions_desktop {
    width: 30vw;
  }

  .enterprise_form_container
  > .step_two_enterprise_form
  select#industries_select,
.enterprise_form_container
  > .step_two_enterprise_form
  select#enterprise_type_select,
  /* .enterprise_form_container > .step_two_enterprise_form > textarea, */
  .enterprise_form_container
    > .step_two_enterprise_form
    > .levels_experience_part_container
    > .levels_and_experience_button_container
    > button,
  .enterprise_form_container
    > .step_two_enterprise_form
     input[type="radio" i],
  .enterprise_form_container
    > .step_two_enterprise_form
    input#checkbox,
  /* .enterprise_form_container
    > .step_two_enterprise_form
    > .salary_languages_missions_desktop
    > .annual_salary
    > div
    > input, */
    .enterprise_form_container > .step_two_enterprise_form > button {
    cursor: pointer;
  }

  .enterprise_form_container > .step_two_enterprise_form > p {
    margin-bottom: 1rem;
  }

  .enterprise_form_container > .step_two_enterprise_form > button:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transition:
      background-color 0.2s,
      color 0.2s;
  }
}
