.swipe_system_container {
  display: flex;
  justify-content: center;
  background-position: center bottom;
  background-repeat: no-repeat;
  position: fixed;
  bottom: 0;
}

.swipe_system_container > div {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 60vw;
  position: absolute;
}

.swipe_system_container > img {
  width: 100vw;
  height: 12vh;
}

.swipe_system_container > div > button {
  width: 4.2rem;
  height: 4.2rem;
  outline: 0.3rem solid var(--primary-color);
  border: none;
}

.swipe_system_container > div > button > .like_icon {
  width: 3.25rem;
  height: 2.9rem;
  padding-top: 0.5rem;
}

.swipe_system_container > div > button > .dislike_icon {
  width: 4rem;
  height: 4rem;
  padding-top: 0.3rem;
}

.swipe_system_container > div > button {
  background-color: var(--secondary-color);
  border-radius: 50%;
}

@media screen and (min-width: 600px) {
}
