.users_infos_container > .users_infos_header > section > select {
  align-self: center;
  width: 12rem;
  height: 2.5rem;
  padding: 0 1rem;
  margin: 1rem;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
}

.users_infos_container > .users_infos_header > section > select:focus {
  outline: 0;
  border-color: var(--primary-color);
}

.users_infos_container > .users_infos_header > select > option {
  text-align: left;
}

@media screen and (min-width: 600px) {
  .users_infos_container > .users_infos_header > section > select {
    margin-left: 2.5rem;
    cursor: pointer;
  }
}
