.user_message {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--primary-font);
}

.user_message > div {
  margin: 1rem;
}

.user_message > div > .candidate_infos_header {
  display: flex;
  flex-direction: column;
  width: 90vw;
}

.user_message > div > .candidate_infos_header > div {
  display: flex;
  justify-content: center;
  align-self: flex-end;
  width: 10vw;
  padding: 0.2rem;
  border: 5px solid var(--primary-color);
  border-radius: 12px;
  font-size: 1.25rem;
  font-weight: bold;
}

.user_message > div > .candidate_infos_header > h1 {
  color: var(--primary-color);
  font-size: 1.25rem;
  text-align: center;
  margin: 1rem;
}

.user_message > div > .messages {
  min-height: 63.5vh;
}

.user_message > div > .send_text_button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
  border-radius: 150px;
  border: 2px solid var(--third-color);
}

.user_message > div > .send_text_button > input {
  width: 15rem;
  height: 3rem;
  border: none;
  padding: 0 1rem;
  outline: none;
  background-color: var(--secondary-color);
  border-radius: 150px;
}

.user_message > div > .send_text_button > button {
  width: 8.4rem;
  height: 2.5rem;
  border-radius: 150px;
  border: none;
  font-family: var(--primary-font);
  font-size: 1.2rem;
  background-color: var(--website-background-color);
  color: var(--color-white);
}

.user_message > .see_content {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 15vh;
  background-image: url("src/assets/background_swipe_mobile.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  margin-top: 1rem;
}

.user_message > .see_content > button {
  width: 13.2rem;
  height: 2rem;
  outline: 0.3rem solid var(--color-white);
  border: none;
  background-color: var(--primary-color);
  color: var(--color-white);
  border-radius: 150px;
}

@media screen and (min-width: 600px) {
}
