.nav_header {
  display: flex;
  flex-direction: column;
  font-family: var(--primary-font);
  background-color: var(--register-background-color);
  border-bottom: 2px solid var(--primary-color);
}

.nav_header > .logo_container {
  justify-content: flex-start;
  padding: 1rem 1rem 2rem 1rem;
}

.nav_header > .logo_container > h1 {
  font-size: 1rem;
}

.nav_header .logo_container > .square {
  min-width: 12px;
  min-height: 12px;
  margin-left: 0.1rem;
}

.nav_header > .user_info_container {
  display: flex;
  align-items: center;
  margin: 0 0 2rem 1rem;
  font-size: 1rem;
  color: var(--secondary-color);
}

.nav_header > .user_info_container > .user_avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12vw;
  height: 5.5vh;
  margin-right: 0.6rem;
  border-radius: 30rem;
  font-size: 1.25rem;
  font-weight: bold;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

@media screen and (min-width: 600px) {
  .nav_header .logo_container > .square {
    width: 12px;
    height: 12px;
    margin-left: 0.1rem;
  }

  .nav_header > .user_info_container > .user_avatar {
    width: 3.5vw;
    height: 5vh;
  }
}
