.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(49, 49, 49, 0.919);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: var(--color-white);
  padding: 2.5rem;
  height: 50vh;
}

.modal_container > h2 {
  text-align: center;
  color: var(--primary-color);
  font-family: var(--secondary-font);
  font-size: 1.5rem;
  padding: 1rem;
  margin-top: -3rem;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 2rem;
  color: var(--primary-color);
  background-color: var(--color-white);
  border: none;
  font-weight: bold;
}

.add-button {
  color: var(--color-white);
  background-color: var(--primary-color);
  font-family: var(--secondary-font);
  width: 50vw;
  font-size: 1.5rem;
  border-radius: 2rem;
  font-weight: bold;
  border: none;
}

.form-group {
  margin-bottom: 1rem;
  font-family: var(--secondary-font);
  font-weight: bold;
}

.form-group input,
.form-group textarea {
  display: block;
  width: 90vw;
  margin-bottom: 1rem;
  background-color: var(--background-users-homepage);
  border-radius: 0.3rem;
  padding: 0.6rem;
  margin-top: 0.5rem;
  border: none;
}
