@media screen and (min-width: 600px) {
  .users_homepage {
    display: flex;
    justify-content: center;
    background-color: var(--background-users-homepage);
    min-height: 100vh;
    width: 100vw;
  }
}
